body {
    background-color: #dd8dc8;
    font-family: 'Readex Pro';
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 170vw;
}

#welcome-text{
    display: flex;
    height: 71vw;
    align-items: self-end;
    font-size: 48px;
    color: white;
}

#welcome-cat {
    height: auto;
    width: 77vw;

}

.hidden {
    display: none;
}