@media (min-width: 992px) { 
    .fact-content  { 
    max-height: 28rem; 
    background-color: green; 
    margin:16rem;
    }
    img {
    width: 100%;
  }

  #fact-API {
    overflow: hidden;
}
  }

  @media (min-width: 500px) { 
    .fact-content  {
    width: 80%; 
    height: 33rem; 
    background-color: red;  
    }
    #id-favourite-fact {
        background-color:green; 
        margin-top: 17%;

    }
    img {
        width: 90%;
    }
  }


   @media (max-width: 375px) { 
    .fact-content  {
    width: 90%; 
    height: 34rem;
    margin: 9rem;
    font-size: x-large;
    background-color: green; 
    }

    #fact-API {
        margin-top: 7rem;
    }

    #id-favourite-fact {
    background-color:green; 
    margin-top: 5%;
    height: 250px;
    overflow: scroll;
    }

    img {
        width: 100%;
    }
  }