@media (min-width: 480px) { 
    .fact-content  { 
    margin-top: 4em;
    min-width: 80%;
    }
  }

  @media (min-width: 900px) {
    #welcome-cat {
      max-height: 30rem;
  }
    
    .fact-content {
      margin-top: 6em;
    }
    .facts-cat-div {
      top: 24%;
    }

  #fact-API {
    overflow: hidden;
}

/*
  @media (min-width: 376px) and (max-width: 991px) { 
    .fact-content  {
    width: 80%; 
    height: 32rem; 
    background-color: red;
    margin-top: 12rem;  
    }
    #id-favourite-fact {
        background-color:green; 
        margin-top: 17%;

    }
    img {
        width: 90%;
    }
  }


   @media (max-width: 375px) { 
    .fact-content  {
    width: 90%; 
    height: 32rem;
    margin: 12rem;
    font-size: x-large;
    background-color: green; 
    }

    #fact-API {
        margin-top: 7rem;
    }

    #id-favourite-fact {
    background-color:green; 
    margin-top: 5%;
    height: 250px;
    overflow: scroll;
    }

    img {
        width: 100%;
    }
  } */