.favorites-screen{
    display: flex;
    flex-direction: column;
    height: 144vw;
    align-items: center;
    justify-content: center;
    margin-top: 17vw;
    
}

.fav-cat-div{
    position:absolute;
    display: flex;
    justify-content: center;
    place-items: center;
    z-index: 99;
    margin-bottom: 115vw;
}


.fav-cat{
    height: auto;
    width: 30vw;
    position: absolute;

}


.fav-fact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 92%;
    background-color: #F04F9B;
    margin: 1em;
    margin-bottom: 4em;
    margin-top: 15vw;
    border-radius: 7%;
    min-width: 80vw;
    min-height: 109vw;
}

.text{
    color: #ffffff;
}

.add-to-favorites {
   display:none;
}

.favorites-list {
    display:none;
}

.next-fact{
    height: auto;
    width: 90px;
    display: flex;
    justify-content: center;
}