.curiosity-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    /* min-width: 365px; */
    /* margin-top: 17vw;
    margin: auto;
    padding: 20px;  */

}

.facts-cat-div {
    /* position:absolute;
    display: flex; */
    /* justify-content: center;
    place-items: center;  */
 /* margin-bottom: 115vw; */
    display: flex;
    align-items: center;
    z-index: 9999;
    position:absolute;
}

.facts-cat {
    height: 17em;
    margin-bottom: 42em; 
    /* height: auto;
    width: 30vw; */
    /* position: absolute; */
}

.fact-content {
    /* display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; */
    /* height: auto; */
    position: relative;
    margin-top: 120px;
    background-color: #00d4d8;
    background-image: url("/assets/img/stars_bg.svg");
    height: 900px;
    /* margin: 2em; */
    /* margin-bottom: 4em; 
    margin-top: 15vw; */
    border-radius: 40px; 
    /* min-width: 80vw; 
    min-height: 129vw;  */
    font-size: 40pt;
    
  
}

#fact-API{
    margin: 12%;
    margin-top: 200px;
    text-align: center;
}

.footer-css {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12%;
    margin-bottom: 25px;
}

.add-to-favorites {
    height: auto;
    width: 90px;
}

.next-fact {
    height: auto;
    width: 90px;
}

.favorites-list {
    height: auto;
    width: 90px;
}
